* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: black; */
}

.navbar {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  background-color: black;
  border: 1px solid black;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  box-shadow: 3px 1px 20px 9px;
}

.hamburger {
  width: 25px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 1.75px;
  background-color: white;
  margin: 6px 0;
  border-radius: 20px;
}

#navimg {
  position: absolute;
  left: 50%;
  width: 150px;
  height: auto;
  transform: translateX(-50%);

}

.rightside {
  display: flex;
}

.search-box {
  color: aliceblue;
  width: 300px;
  height: 32px;
  padding: 0 10px;
  background-color: #292626;
  border-radius: 3px;
  border: 2px solid whitesmoke;
  outline: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 600;
  font-size: 1em;
}

.blink {
  position: absolute;
  color: rgb(255, 255, 255);
  font-weight: 100;
  margin-top: 4px;
  margin-left: 64px;
  animation: blink 1s infinite;
  font-size: 1.25em;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}



.search-box::placeholder {
  color: #e7e7e7;
  font-weight: 600;
}


#propic {
  width: 31px;
  height: auto;
  margin-left: 15px;
  border-radius: 20px;
}

/* #vid{
  width: 100%;
  height: auto;
} */
 
.vid {
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 1s ease;
  z-index: -1;
}